@import "tailwindcss";
@media print {
  body {
    background: white !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  @page {
    size: A4;
    margin: 12mm;
  }

  .no-print {
    display: none !important;
  }
}